services:
  # 1. Base de Dados (Postgres)
  postgres:
    image: postgres:13
    container_name: crypto_postgres
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Script para criar schemas raw/silver/gold automaticamente
      - ./scripts/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. PGAdmin (Visualizador do Banco)
  pgadmin:
    image: dpage/pgadmin4
    container_name: crypto_pgadmin
    env_file:
      - .env
    ports:
      - "${PGADMIN_PORT}:${PGADMIN_PORT_INTERNAL}"
    volumes:
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      postgres:
        condition: service_healthy

  # 3. MinIO (S3)
  minio:
    image: minio/minio:latest
    container_name: crypto_minio
    env_file:
      - .env
    ports:
      - "${MINIO_PORT_API}:${MINIO_PORT_API}" # API S3
      - "${MINIO_PORT_CONSOLE}:${MINIO_PORT_CONSOLE}" # Consola UI
    command: server /data --console-address ":${MINIO_PORT_CONSOLE}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${MINIO_PORT_API}/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    volumes:
      - minio_data:/data

  # 4. Airflow
  airflow:
    build:
      context: .
      dockerfile: DockerFile
    container_name: crypto_airflow
    tty: true
    stdin_open: true
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=${AIRFLOW_SECRET_KEY}
    # --- AUTOMATIC CONNECTIONS (IaC) ---
      # Cria a conexão ao postgres automaticamente
      - AIRFLOW_CONN_POSTGRES_DW=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      # Cria a conexão 'minio_s3_conn' automaticamente (AWS Type)
      # O formato URL é complexo, por isso usamos JSON na variável Conn URI
      - AIRFLOW_CONN_MINIO_S3_CONN=aws://${MINIO_ROOT_USER}:${MINIO_ROOT_PASSWORD}@?endpoint_url=http%3A%2F%2Fminio%3A${MINIO_PORT_API}
      - DATA_LAKE_BUCKET=${MINIO_BUCKET_NAME}
      - AIRFLOW_VAR_COINGECKO_API_KEY=${COINGECKO_API_KEY}
      - AIRFLOW_VAR_COINGECKO_CURRENCY=${COINGECKO_CURRENCY}
      - COINGECKO_BASE_URL=${COINGECKO_BASE_URL}
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./dbt_project:/opt/airflow/dbt_project
    ports:
      - "${AIRFLOW_PORT}:${AIRFLOW_PORT}"
    command: >
      bash -c "airflow db init && 
      airflow users create --username ${AIRFLOW_ADMIN_USER} --firstname Admin --lastname User --role Admin --email ${AIRFLOW_ADMIN_EMAIL} --password ${AIRFLOW_ADMIN_PASSWORD} || true && 
      airflow webserver --port ${AIRFLOW_PORT} -D && 
      airflow scheduler"
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy

volumes:
  postgres_data:
  minio_data: